<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <li class="navbar-brand" style="color: #386cec" href="#">SWIMmers Medical</li>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="navbar-nav mr-auto">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/patients">Patients</a>
              </li>
            <li class="nav-item">
                <a class="nav-link active" href="/doctors">Doctors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/appointments">Appointments</a>
              </li>
            <li class="nav-item">
                <a class="nav-link" href="/medications">Medications</a>
              </li>
            <li class="nav-item">
                <a class="nav-link" href="/prescriptions">Prescriptions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/appt_scripts">Appointment Prescriptions</a>
              </li>
          </ul>
        </div>
    </nav>
      <br>

      <div class="container">
      {{#each data}}
        <form id="edit-doctor-form" method="POST" action="/edit-doctor-form">
        <h1>Update Doctor</h1>
        <h4>Please update the doctor's details below.</h4>
        <br>
        
        <div class="input-group mb-3">
        <div class="input-group-prepend col-xs-2">
          <span class="input-group-text" id="specialty">ID</span>
            </div>
            <input name='input-doctor-id' type="text" class="form-control" value="{{this.doctor_id}}" readonly>
        </div>

        Name
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="fname_lname"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
</svg></span>
            </div>
            <input name='input-doctor-first-name' type="text" class="form-control" value="{{this.first_name}}">
            <input name='input-doctor-last-name' type="text" class="form-control" value="{{this.last_name}}">
          </div>
          Specialty
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="specialty"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-pulse" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10 1.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1Zm-5 0A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5v-1Zm-2 0h1v1H3a1 1 0 0 0-1 1V14a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V3.5a1 1 0 0 0-1-1h-1v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2Zm6.979 3.856a.5.5 0 0 0-.968.04L7.92 10.49l-.94-3.135a.5.5 0 0 0-.895-.133L4.232 10H3.5a.5.5 0 0 0 0 1h1a.5.5 0 0 0 .416-.223l1.41-2.115 1.195 3.982a.5.5 0 0 0 .968-.04L9.58 7.51l.94 3.135A.5.5 0 0 0 11 11h1.5a.5.5 0 0 0 0-1h-1.128L9.979 5.356Z"/>
              </svg></span>
            </div>
            <input name='input-specialty' type="text" class="form-control" value="{{this.specialty}}" aria-label="specialty" aria-describedby="basic-addon1">
          </div>
          <br>
          <div class="row">
            <div class="col text-right d-grid gap-2 d-md-block">
                <button class="btn btn-primary me-md-2" type="submit"> Update Doctor</button>
                <button class="btn btn-secondary" type="button"> Return</button>
        </form>
        {{/each}}
        </div><!-- /.container -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>